<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New recipe</button>
    <hr />
  </div>
  <hr />
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- <app-recipe-item></app-recipe-item> -->
    <a href="" *ngFor="let recipe of recipes" class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
      <div class="pull-right">
        <!-- {{}} vizeaza direct atributul 'src' - similar template literal -->
        <!-- [] vizeaza proprietatea din Obj. elementului HTML -->
        <img
          src="{{ recipe.imagePath }}"
          [src]="recipe.imagePath"
          class="img-responsive"
          style="max-height: 50px"
          alt=""
        />
      </div>
    </a>
  </div>
</div>
<script></script>
